{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" type="text/css" href="{% static 'Events/login.css' %}">

       

</head>
<body>
  <header>  </header>
    <main>
        <div class="page">
            <div class="header">
              
                
              <h2> Event Management System</h2>
              
              
              <div>
                
                
              </div>
            </div>
            <div class="container">
            	
              <form method="POST">
              	{% csrf_token %}	
               	{%  for field in form.visible_fields %}
               		<div class="label"> {{field.label}} </div>
               		<div class="errors">{{ field.errors }}</div>
               		{{ field }}
               	{% endfor %}


               <button type="submit" name="action" class="button">
          Submit
        </button>

              </form>
              
             
           
            </div>
        </div>
        <div class="option">
           <p>Do not have  an account? <a href="{% url 'signup' %}">Register</a></p>
        </div>
        
        
      </main>
      
</body>
</html>